<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Handle NIM request for web services
    RewriteRule ^182([0-9]{5,5})$ theo.php?nim=$1 [L]

</IfModule>