.lol {
	color:white;
}

.a:link {
	color: white;
	text-decoration: none;
}

.a:visited {
	color: white;
	text-decoration: none;
}

.a:hover {
	color: black;
	text-decoration: none;
}

.a:active {
	color: blue;
	text-decoration: none;
}

.bg{
	background-color: #4B0082;
}

.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:450px;
  width:100%;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: right;
  color: #fff;
}
td{
  text-align: left;
  vertical-align:top;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  border: solid 1px rgba(255,255,255,0.1);
  color: #fff;
}

.b{
	padding: 15px 6px;
}

.c{
	padding: 15px 0px;
}

.d{
	padding: 15px 20px;
}

/* demo styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25b7c4, #D8BFD8);
  background: linear-gradient(to right, #25b7c4, #D8BFD8);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

// '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
